body {
    max-width: 50em;
    margin: auto;

    button {
        border: none;
    }

    div#proceed {
        border: 1px solid black;
        border-top-style: none;
    } 
    ul#resources {border: 1px solid black;}

    ul {
        list-style: none;
        margin: 0;
        padding: 1em 0em 1em 2.2em;
        position: relative;
        button {
            background-color: black;
            color: white;
            font-weight: bold;
            position: absolute;
            left: 1em;
            
        }
        li {
            margin-top: 4px;
        }
    }

    button#proceed {
        margin: 0.2em;
        padding: 0.4em 0.5em;
        font-size: 105%;
    }
    button#proceed.active {background-color: orange;}
    button#proceed.inactive {background-color: #ccc;}

}